* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}
h2 {
    text-align: center;
    color: #7fff00;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
color: #FFFFFF;
}
h2::selection {
    text-shadow: none;
    background-color: chartreuse;
    color: black;
}
h2::after {
    content: "";
    width: 2px;
    height: 16px;
    display: inline-block;
    background-color: chartreuse;
    vertical-align: middle;
    margin-left: 5px;
    filter: blur(1px);
    animation: after-text 1s steps(2) infinite;
}
@keyframes after-text {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}