.switch {
    user-select: none;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    user-select: none;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(27, 116, 4);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(27, 116, 4);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .rtx-box {
      width: 80%;
      margin: 0 auto;
  }
  .img-rtx {
      width: 100%;
  }
  .rtx-logo {
      position: absolute;
      width: auto;
      height: 70px;
  }
  .arrow {
      user-select: none;
      pointer-events: none;
      display: inline;
      font-size: 60px;
      color: green;

  }

  